<!--attaching base and header file-->
{% extends 'base.html' %} {% include 'header.html' %}

<!--body start from here-->
{% block body %}

<div class="container container-fluid shiny-input-container-inline">
    <div class=" row ">
        <div class="col-3 ">
            <div class="nav flex-column nav-pills sticky-top shadow p-3 mb-5 bg-white rounded" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#india" role="tab" aria-controls="v-pills-home" aria-selected="true">INDIA</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#states" role="tab" aria-controls="v-pills-profile" aria-selected="false">STATES</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#devops" role="tab" aria-controls="v-pills-settings" aria-selected="false">DEVELOPED BY</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content shadow-sm rounded" id="v-pills-tabContent">
                <div class="tab-pane fade show active " id="india" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="jumbotron p-3">
                                    <table class="table table-hover table-dark">

                                        <tr>
                                            <th>Total Confirmed</th>
                                            <th>Total Cured</th>
                                            <th>Total Death</th>
                                        </tr>

                                        {% for row in country %}
                                        <tr>
                                            <th>{{row["Total_Confirmed"]}}</th>
                                            <th>{{row["Total_Cured"]}}</th>
                                            <th>{{row["Total_Death"]}}</th>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="states" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="jumbotron p-3">
                                    <table class="table table-hover table-dark">

                                        <tr>

                                            <th>States</th>
                                            <th>Confirmed</th>
                                            <th>Cured</th>
                                            <th>Death</th>
                                        </tr>
                                        {% if state %} {% for row in state %}
                                        <tr>

                                            <td>{{row["Name"]}}</td>
                                            <td>{{row["Confirmed"]}}</td>
                                            <td>{{row["Cured"]}}</td>
                                            <td>{{row["Death"]}}</td>
                                        </tr>

                                        {% endfor %} {% endif %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="devops" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    <div class="jumbotron">
                        <div class="text-justify text-capitalize font-weight-bold">
                            <li>programmer/ web developer <u>hruturaj nikam</u></li>
                            <li>seek to present resources gather from
                                <a href="https://www.mohfw.gov.in/">government</a> website, to aware society about Corona virus disease in India and provide live updates on it.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}